@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100svh;
  display: grid;
  place-content: center;
  @apply bg-light-grayish-cyan;
}

.btn {
  @apply bg-very-dark-cyan text-very-light-grayish-cyan hover:bg-strong-cyan hover:text-very-dark-cyan text-2xl rounded-md p-3 font-bold sm:text-xl sm:p-2 focus:outline-strong-cyan focus:bg-strong-cyan;
}

.customBtn {
  @apply text-very-dark-cyan placeholder-very-dark-cyan capitalize  bg-very-light-grayish-cyan hover:bg-strong-cyan hover:text-very-dark-cyan text-2xl rounded-md p-2 font-bold text-right px-6 focus:bg-very-light-grayish-cyan focus:outline-strong-cyan sm:text-xl sm:p-2;
}

.title {
  @apply my-4 capitalize text-lg text-dark-grayish-cyan sm:text-sm;
}
